In [41]:
import pandas as pd
import nltk
# convert text data into numerical form
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from  sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string

In [5]:
data = {
    "Id":[1,2,3,4],
    "Title":["Text 1","Text 2","Text 3","Text 4"],
    "Text":["Notebook 7 to learn about the new features and the actions to take if you are using extensions - 1",
            "Notebook 7 to learn about the new features and the actions to take if you are using extensions - 2",
            "Notebook 7 to learn about the new features and the actions to take if you are using extensions - 3",
            "Notebook 7 to learn about the new features and the actions to take if you are using extensions - 4"],
    "Status":[0,1,1,0]
}

df = pd.DataFrame(data)

In [7]:
df.head()

   Id   Title                                               Text  Status
0   1  Text 1  Notebook 7 to learn about the new features and...       0
1   2  Text 2  Notebook 7 to learn about the new features and...       1
2   3  Text 3  Notebook 7 to learn about the new features and...       1
3   4  Text 4  Notebook 7 to learn about the new features and...       0

In [15]:
# download NLTK Data
nltk.download('punkt') # Tonkenizer data used to splitting text into word
nltk.download('stopwords') # a list of common words (is, am, are) remove from the words and reduce the text

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\10713310\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\10713310\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [22]:
# preprocessing the text

stop_words = set(stopwords.words('english'))
print(stop_words)

{'i', "you've", 'of', "that'll", 'if', 'd', 'were', 'y', 'before', "you'd", 'herself', 'isn', "she's", 'didn', 'a', 'yourself', "should've", 'mustn', "wasn't", 'weren', 'each', 's', 'myself', 'up', "don't", 'no', 't', 'their', 'very', 'wouldn', 'below', 'on', 'mightn', 'themselves', "hasn't", 'he', 'did', 'in', 've', 'other', 'this', "you'll", "you're", 'is', 'for', 'himself', 'above', "mightn't", 'after', 'ours', 'such', 'has', 'only', 'just', 'couldn', "mustn't", 'being', 'most', 'by', 'but', 'was', 'be', 'they', "hadn't", 'when', 're', 'from', 'an', 'ain', 'so', 'doing', 'or', "weren't", 'those', 'through', 'into', 'any', 'o', "shan't", 'about', 'then', 'where', 'ourselves', 'can', 'aren', 'against', 'wasn', 'won', 'what', 'than', 'until', 'between', 'we', "wouldn't", 'and', 'under', 'why', 'to', 'over', 'she', 'hadn', 'your', 'do', 'should', 'hers', 'haven', 'here', 'had', "it's", 'me', 'the', 'as', 'all', 'will', "haven't", 'have', 'him', 'once', 'them', 'ma', 'few', 'itself', 'm', "won't", 'her', 'whom', 'which', 'you', 'yourselves', 'that', 'at', 'shan', 'are', 'too', 'it', 'having', 'my', 'with', 'am', 'll', 'there', 'nor', 'not', 'who', "isn't", "shouldn't", "couldn't", 'own', "aren't", 'down', 'don', 'while', 'been', 'more', 'theirs', 'his', 'off', 'further', 'both', 'shouldn', 'its', "needn't", 'some', 'during', 'how', 'hasn', 'now', 'our', 'these', 'same', 'because', 'again', 'out', "didn't", 'doesn', 'yours', 'does', 'needn', "doesn't"}

In [50]:
def preprocessing(text):
    #     Tokennizer and conver to lowercase
    words = word_tokenize(text.lower())
    #     remove punctuation and stopwords
    words = [word for word in words if word.isalnum() and word not in stop_words]
    return "".join(words)

X = [preprocessing(text) for text in df["Text"]]
# XX = df["Text"].apply(preprocessing)
Y = df["Status"]

In [52]:
print(XX)

0    notebook7learnnewfeaturesactionstakeusingexten...
1    notebook7learnnewfeaturesactionstakeusingexten...
2    notebook7learnnewfeaturesactionstakeusingexten...
3    notebook7learnnewfeaturesactionstakeusingexten...
Name: Text, dtype: object

In [33]:
# convert text into feature vectorizer
vectorizer = CountVectorizer()
XNew = vectorizer.fit_transform(X)

print(XNew)

  (0, 9)	1
  (0, 12)	2
  (0, 7)	1
  (0, 0)	1
  (0, 11)	2
  (0, 8)	1
  (0, 5)	1
  (0, 2)	1
  (0, 1)	1
  (0, 10)	1
  (0, 6)	1
  (0, 14)	1
  (0, 3)	1
  (0, 13)	1
  (0, 4)	1
  (1, 9)	1
  (1, 12)	2
  (1, 7)	1
  (1, 0)	1
  (1, 11)	2
  (1, 8)	1
  (1, 5)	1
  (1, 2)	1
  (1, 1)	1
  (1, 10)	1
  :	:
  (2, 8)	1
  (2, 5)	1
  (2, 2)	1
  (2, 1)	1
  (2, 10)	1
  (2, 6)	1
  (2, 14)	1
  (2, 3)	1
  (2, 13)	1
  (2, 4)	1
  (3, 9)	1
  (3, 12)	2
  (3, 7)	1
  (3, 0)	1
  (3, 11)	2
  (3, 8)	1
  (3, 5)	1
  (3, 2)	1
  (3, 1)	1
  (3, 10)	1
  (3, 6)	1
  (3, 14)	1
  (3, 3)	1
  (3, 13)	1
  (3, 4)	1

In [39]:
# train and test

XTrain,XTest,YTrain,YTest = train_test_split(XNew,Y,test_size =0.3, random_state=42)

In [40]:
print(XTrain)

  (0, 9)	1
  (0, 12)	2
  (0, 7)	1
  (0, 0)	1
  (0, 11)	2
  (0, 8)	1
  (0, 5)	1
  (0, 2)	1
  (0, 1)	1
  (0, 10)	1
  (0, 6)	1
  (0, 14)	1
  (0, 3)	1
  (0, 13)	1
  (0, 4)	1
  (1, 9)	1
  (1, 12)	2
  (1, 7)	1
  (1, 0)	1
  (1, 11)	2
  (1, 8)	1
  (1, 5)	1
  (1, 2)	1
  (1, 1)	1
  (1, 10)	1
  (1, 6)	1
  (1, 14)	1
  (1, 3)	1
  (1, 13)	1
  (1, 4)	1