In [1]:
import pandas as pd

In [3]:
file = pd.read_csv("heart.csv")

In [4]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  302 non-null    float64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   302 non-null    float64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(3), int64(11)
memory usage: 33.3 KB

In [5]:
file.shape

(303, 14)

In [8]:
file.isnull().sum()/(file.shape[0]*file.shape[1])*100

age         0.000000
sex         0.000000
cp          0.000000
trestbps    0.023574
chol        0.000000
fbs         0.000000
restecg     0.000000
thalach     0.023574
exang       0.000000
oldpeak     0.000000
slope       0.000000
ca          0.000000
thal        0.000000
target      0.000000
dtype: float64

In [9]:
file.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,302.000000,303.000000,303.000000,303.000000,302.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.562914,246.264026,0.148515,0.528053,149.569536,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.535186,51.830751,0.356198,0.525860,22.903527,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.250000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,152.500000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [10]:
file.isnull().sum()

age         0
sex         0
cp          0
trestbps    1
chol        0
fbs         0
restecg     0
thalach     1
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [14]:
file.duplicated().sum()

1

In [19]:
file.drop_duplicates(inplace = True)

In [20]:
file.duplicated().sum()

0

In [21]:
file.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145.0,233,1,0,150.0,0,2.3,0,0,1,1
1,37,1,2,130.0,250,0,1,187.0,0,3.5,0,0,2,1
2,41,0,1,130.0,204,0,0,172.0,0,1.4,2,0,2,1
3,56,1,1,120.0,236,0,1,178.0,0,0.8,2,0,2,1
4,57,0,0,120.0,354,0,1,163.0,1,0.6,2,0,2,1

In [47]:
for i in file.select_dtypes(include="float64"):
    x= file[i].mean()
    file[i]=file[i].fillna(x)

In [48]:
file.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [52]:
file.value_counts("target")

target
1    164
0    138
Name: count, dtype: int64