In [19]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
data = pd.read_csv("heart.csv")

In [4]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,3.0,145.0,233.0,1.0,0.0,150.0,0.0,2.3,0.0,0.0,1.0,1
1,37.0,1.0,2.0,130.0,250.0,0.0,1.0,187.0,0.0,3.5,0.0,0.0,2.0,1
2,41.0,0.0,1.0,130.0,204.0,0.0,0.0,172.0,0.0,1.4,2.0,0.0,2.0,1
3,56.0,1.0,1.0,120.0,236.0,0.0,1.0,178.0,0.0,0.8,2.0,0.0,2.0,1
4,57.0,0.0,0.0,120.0,354.0,0.0,1.0,163.0,1.0,0.6,2.0,0.0,2.0,1

In [17]:
data.std()

age          9.077374
sex          0.463523
cp           1.032250
trestbps    17.461159
chol        51.255644
fbs          0.356686
restecg      0.526012
thalach     22.838394
exang        0.466373
oldpeak      1.159942
slope        0.617471
ca           1.023356
thal         0.609064
target       0.498835
dtype: float64

In [21]:
x= data.drop(columns="target")
y= data.target

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [30]:
scaler= StandardScaler()

In [31]:
x_trainData= scaler.fit_transform(x_train)

In [32]:
x_trainData

array([[-1.67197509, -1.40392824,  0.96150152, ...,  0.95521196,
        -0.68098815, -0.56162563],
       [-2.76500854,  0.71228712, -0.00460049, ...,  0.95521196,
        -0.68098815, -0.56162563],
       [-0.46963829, -1.40392824,  0.96150152, ..., -0.67563773,
        -0.68098815, -0.56162563],
       ...,
       [ 1.60712526,  0.71228712,  1.92760353, ..., -0.67563773,
         0.37053767, -0.56162563],
       [-0.90685167,  0.71228712, -0.97070249, ...,  0.95521196,
        -0.68098815,  1.13953026],
       [ 0.95130519, -1.40392824, -0.00460049, ...,  0.95521196,
         1.42206349, -0.56162563]])

In [37]:
xt_trainData= scaler.transform(x_test)

In [38]:
xt_trainData

array([[ 0.29730147,  0.57735027, -0.8553372 , ..., -0.5888165 ,
         0.06779522, -1.97484177],
       [ 0.52310006,  0.57735027,  2.10544542, ..., -0.5888165 ,
        -0.8038576 ,  1.09713431],
       [ 0.29730147,  0.57735027,  1.11851788, ...,  1.01704668,
         0.06779522,  1.09713431],
       ...,
       [ 1.42629441, -1.73205081, -0.8553372 , ...,  1.01704668,
         0.93944804, -0.43885373],
       [ 0.41020077,  0.57735027,  1.11851788, ..., -0.5888165 ,
        -0.8038576 ,  1.09713431],
       [ 2.44238805, -1.73205081,  1.11851788, ..., -0.5888165 ,
        -0.8038576 , -0.43885373]])

In [42]:
print(x_trainData.mean())

nan